.App {
  display: flex;
  height: 100%;
}

.Sidebar {
  flex-grow: 1;
  padding: 1em 0 0 1em;
  border-right: 1px solid white;
}

.pkg-manager.active {
  color: white;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  color: white;
}

.Content {
  display: flex;
  flex-grow: 4;
  flex-direction: column;
  height: 100%;
}

.Table {
  height: 80%;
}

.ReactTable {
  height: 100%;
}

.ReactTable .rt-thead {
  overflow-y: scroll;
}

.rt-td.wanted {
  color: yellow;
}

.rt-td.latest {
  color: red;
}

.Terminal::before {
  display: block;
  content: "";
  border-top: 1px solid white;
}

.Terminal {
  background: rgb(19, 19, 19);
  flex-basis: 20%;
  padding: 0.2em;
  overflow-y: auto;
}

.Log {
  font-size: small;
  margin: 0 0 0.1em 0;
}

.Log:first-child {
  margin-top: 0.4em;
}

.Log.error {
  color: red;
}
